<!DOCTYPE html>
<html>
    <head>
        <title>Zack's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Zack's Blog</a></h1>
        </header>

        <article>
            <time>published: 08.28.2024, 21:16</time>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum yadda yadda</p>
        </article>

        <article>
            <time>published: 08.28.2024, 21:18</time>
            <h2><a href="">My second post</a></h2>
            <p>Ymay Econdsay Ostpay</p>
        </article>
    </body>
</html>
